div{
    background-color: gainsboro;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    margin: auto;
    gap: 20px;
}

h1{
    grid-column: 1 / -1;
}

img{
    display: block;
    max-width: 100%;
}

@media screen and (max-width: 900px) {
    h1{
        background-color: lightsalmon;
    }

    div{
        width: 90vw;
        padding: 10px;
        background-color: lightskyblue;
        grid-template-columns: 1fr;
    }

    p{
        font-size: 20px;
    }
}

@media screen and (min-width: 1200px){
    body{
        padding: 10px;
        background-color: gray;
    }

    div{
        width: 60vw;
    }
}