.grid-container{
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: purple;
    padding: 5px;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.grid-item{
    background-color: rgb(196, 190, 190);
    border: 1px solid yellow;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    height: 20px;
    width: auto;
}